export(simulateVAR)
export(mlVAR)
export(fixedEffects)
export(randomEffects)
S3method(plot, mlVAR)
S3method(print, mlVAR)
S3method(summary, mlVAR)
importFrom(plyr, "ddply")
importFrom(plyr, "join")
importFrom(lme4, "lmer")
importFrom(lme4, "fixef")
importFrom(lme4, "ranef")
importFrom(lme4, "VarCorr")
importFrom(lme4, "lmerControl")
importFrom(arm, "se.fixef")
importFrom(qgraph, "qgraph")